DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=afisha
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@database:5432/afisha

LOG_FORMAT=dev
NODE_ENV=production

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin